:root{
    --santa-red:#A31123;
    --santa-red-alpha:rgba(163, 17, 34, 0.4) ;
    --santa-green:#0A9F99;
    --basic-font: 'Montserrat';
}
.container-fluid{
    padding: 0;
}
.row{
    margin: 0;
    padding: 0;
}
#title{
    background-color: var(--santa-red);
    padding: 2rem 10rem;
    color: #fff;
}
.navbar-toggler-icon:hover{
    color: white;
}
h1{
    font-family: var(--basic-font);
    font-size: 3.5rem;
    line-height: 1.5;
}
/*navbar*/
.navbar{
    padding: 4.5rem;
    width: auto;

}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
}
.nav-item{
    padding: 0 1rem;
}
.nav-link{
    font-size: 1.2rem;

}
.title-image{
    width: 50;
    transform: rotate(10deg);

}
.download-btn{
    margin: 5%;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
}
.feature-box{
    text-align: center;
    padding: 5%;

}
.feature-box h3{
    font-family:  var(--basic-font);
}
.feature-box p{
    color: #8f8f8f;
}
.feature-box i{
    font-size: 3rem;
    color: var(--santa-red);
    margin-bottom: 1rem;
}
#features i:hover{
    color: var(--santa-green);
}
/*Testimonials section*/
.testimonials{
    background-color: var(--santa-red-alpha);
    color: #fff;
    text-align: center;
}
.testimonials h2{
    font-family:  var(--basic-font);
    font-size: 3rem;
    line-height: 1.5;
}
.testimonials img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 2rem;
}
/*footer*/
footer{
    text-align: center;
    padding: 1rem;
}
footer i{
    font-size: 3rem;
    color: var(--santa-red);
    margin-bottom: 1rem;
    padding: 1rem;
    transition: 1s;
}
footer p{
    font-size: 1.5rem;
    font-family:  var(--basic-font);
}
footer i:hover{
    transform: scale(1.2);
    color: var(--santa-green);
}
@media (min-width:956px){
    #title {
        padding: 0;
        text-align: center;
    }
}